CLAUDE.md
.claude/
.env
docs/brief.md
docs/prd.md
docs/architecture.md
.prjroot
.kilocodemodes
references/rules.mdc.example
docs/architecture/
docs/epics/
docs/prd/
.kilocode/
docs/stories/
linear-config.example.json
docs/
scripts/
linear-config.json
.bmad-core/
.gitignore.dev
.gitignore.push
